/*
Paleta de Cores:
#f2f2f2
#348e91
#1c5052
#213635
#0a0c0d
*/

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  color: #0a0c0d;
  min-width: 850px;
}

header {
  background-color: #213635;
  padding: 15px;
}

nav {
  display: flex;
  justify-content: center;
  gap: 15px;
}

nav a {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  
  background-color: #1c5052;
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 8px;
  border: 2px solid transparent;
  transition: background-color 0.3s, border-color 0.3s;
  font-weight: bold;

  min-width: 100px; 
  height: 30px;     
  text-align: center;
}

nav a:hover {
  background-color: #348e91;
  border-color: #ffffff;
}

main {
  padding: 20px;
}

article {
  width: 50%;
  margin: 40px auto;
  padding: 30px 20px;
  font-size: 1.1em;
  line-height: 1.75;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: justify;
}

h1 {
  text-align: center;
  color: #348e91;
  font-size: 2.5em;
  margin-bottom: 20px;
  font-family: 'Lora', serif;
}

h2 {
  color: #1c5052;
  font-size: 2em;
  margin-top: 20px;
  font-family: 'Lora', serif;
}

h3 {
  color: #1c5052;
  font-family: 'Lora', serif;
  margin-top: 15px;
}

q.highlight {
  display: block;
  margin: 20px auto;
  padding: 10px;
  background-color: #213635;
  border-left: 5px solid #348e91;
  font-style: italic;
  color: #ffffff;
  border-radius: 10px;
}

article a{
  color: #348e91;
  text-decoration: none;
  font-weight: bold;
}

article a:hover {
  color: #1c5052;
  text-decoration: none;
}

cite.highlight {
  display: block;
  text-align: right;
  color: #348e91;
  font-style: normal;
  margin-top: 10px;
}

p {
  text-align: justify;
}

p.FraseDeEfeito {
  font-size: 1em;
  color: #00b1c9;
  font-style: oblique;
  margin: 20px 0;
}

.imagem-fixa-direita {
  position: absolute; 
  width: 15%;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  left: 80%;
  transform: translateY(-100%);
}

.legenda-imagem-direita {
  position: absolute; 
  font-size: 0.9rem;
  font-style: italic;
  color: #555;
  text-align: center;
  margin-top: 8px;
  max-width: 15%;
  left: 80%;
}

.imagem-fixa-esquerda {
  position: absolute; 
  width: 15%;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  left: 5%;
  transform: translateY(-100%);
}

.legenda-imagem-esquerda {
  position: absolute; 
  font-size: 0.9rem;
  font-style: italic;
  color: #555;
  text-align: center;
  margin-top: 8px;
  max-width: 15%;
  left: 5%;
}

@media (max-width: 1200px) {
  .imagem-fixa-direita,
  .imagem-fixa-esquerda {
    position: static;   
    width: 50%;     
    margin: 20px auto;  
    display: block;    
    transform: none;
  }

  .legenda-imagem-direita,
  .legenda-imagem-esquerda {
    position: static;   
    max-width: 50%;
    margin: 0 auto;
    display: block;    
  }
}